@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.App {
  display: grid;
  grid-template-columns: 42.5% 15% 42.5%;

  min-height: 100vh;
  width: 100vw;

  background-image: linear-gradient(to bottom right, #44475a, #6272a4);
}

#menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#app-icon {
  opacity: 0.75;
  margin-top: 15px;
}

#company-icon {
  color: #fff;
  opacity: 0.75;
  font-family: 'Pacifico', cursive;
  user-select: none;
  margin: 0;
  margin-bottom: 15px;
}

#confirm-button {
  width: 100%;
  background: #303341;
  cursor: pointer;
  border: 1px solid #ff93d1;

  outline: none;
  border-radius: 5px;
  padding: 15px;

  transition: all 0.4s;
}

#confirm-button:hover {
  background: #282a36;
  border: 1px solid #ff7fc8;
}
